<% include ../partials/header %>

<script src='https://api.filepicker.io/v1/filepicker.js'></script>
<script src='/js/tinymce/jscripts/tiny_mce/tiny_mce.js'></script>
  
<div class="container-fluid">
  <div class="message-form">
      <h2>Update your comment</h2>
  </div>
  <div class="add-post">
    <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
      <div class="form-group">
        <textarea class="form-control" rows="10" name="text"><%- comment.text %></textarea>
      </div>
      <button type="submit" class="btn btn-delete btn-block">Update Comment</button>
      <a class="btn btn-default btn-def btn-block" href="/posts/<%= post._id %>">Back</a>
      <br><br>
    </form>
  </div>
</div>

<script type='text/javascript'>
	// Set the filepicker API key here.
    filepicker.setKey('AplOSzF0fTtmzg0bfVQOiz');

    // Load the filepicker plugin from an external URL
    // NOTE: You should specify the full URL.
    tinyMCE.PluginManager.load('filepicker', '/js/tinymce/jscripts/tiny_mce/fp-plugin/editor_plugin.js');
    tinyMCE.init({
      schema : 'html5',
      mode   : 'textareas',

      // Add filepicker plugin here. '-' sign means don't try to load it again since we loaded it above.
      plugins : '-filepicker',

      theme : 'advanced',
      theme_advanced_toolbar_location : 'top',
      theme_advanced_toolbar_align : 'left',
      theme_advanced_statusbar_location : 'bottom',
      theme_advanced_resizing : true,
	    theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,formatselect,fontselect,fontsizeselect,  |, filepicker",
      theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,cleanup,|,insertdate,inserttime,preview,|,forecolor,backcolor",

      setup : function(ed) {
      }
    });
</script>
<% include ../partials/footer %>
